# Python
__pycache__/
*.pyc

# Virtual environments
orat-env/
venv/
.env/

# Data
data/

# Results
AoRRAT_results/
runs/
logs/
smoke_input/
smoke_output/

# Models
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# Misc
.DS_Store
